@{
    bool IsActive(string controller, string action = "")
    {
        string currentController = ViewContext.RouteData.Values["Controller"].ToString();
        string currentAction = ViewContext.RouteData.Values["Action"].ToString();

        if (string.IsNullOrEmpty(action))
            return currentController.Equals(controller, StringComparison.OrdinalIgnoreCase);
        else
            return currentController.Equals(controller, StringComparison.OrdinalIgnoreCase) &&
                   currentAction.Equals(action, StringComparison.OrdinalIgnoreCase);
    }
}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Datta Able - Most Complete Bootstrap Admin Template</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Datta Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template">
    <meta name="author" content="Codedthemes" />
    <!--Jquery script-->
    <script src="~/assets/plugins/jquery/js/jquery.min.js"></script>

    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">
    <!-- notification css -->
    <link rel="stylesheet" href="~/assets/plugins/notification/css/notification.min.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- Datatables css -->
    <link rel="stylesheet" href="~/assets/plugins/data-tables/css/datatables.min.css">

</head>

<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a asp-controller="home" asp-action="index" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Seyhanlar</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <!--Raporlar Start-->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Raporlar</label>
                    </li>
                    <li data-username="Anasayfa" class="nav-item @(IsActive("Home", "Index") ? "active" : "")"><a asp-controller="Home" asp-action="Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Anasafa</span></a></li>
                    <li data-username="Vertical Horizontal Box Layout RTL fixed static Collapse menu color icon dark" class="nav-item pcoded-hasmenu @(IsActive("SubeStok", "SubeDurum") || IsActive("Urun", "UrunlerRapor") || IsActive("Satis", "SatisRapor") || IsActive("Satis", "KSatisRapor") ? "pcoded-trigger" : "")">
                        <!--pcoded-trigger menunun açık kalmasını sağlar -->
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Raporlar</span></a>
                        <ul class="pcoded-submenu" style="@(IsActive("SubeStok", "SubeDurum") || IsActive("Urun", "UrunlerRapor") || IsActive("Satis", "SatisRapor") || IsActive("Satis", "KSatisRapor") ? "display: block;" : "")">
                            
                            <li class="@(IsActive("SubeStok", "SubeStokDurum") ? "active" : "")"><a asp-controller="SubeStok" asp-action="SubeStokDurum" class="">Şube Stok Durumu</a></li> <!-- active seçilenin açtif olmasını sağlar-->
                            <li class="@(IsActive("Urun", "UrunlerRapor") ? "active" : "")"><a asp-controller="Urun" asp-action="UrunlerRapor" class="">Ürünler Rapor</a></li>
                            <li class="@(IsActive("Satis", "SatisRapor") ? "active" : "")"><a asp-controller="Satis" asp-action="SatisRapor" class="">Satışlar Rapor</a></li>
                            <li class="@(IsActive("Satis", "KSatisRapor") ? "active" : "")"><a asp-controller="Satis" asp-action="KSatisRapor" class="">Satış Karşılaştır</a></li>

                        </ul>
                    </li>
                    <li data-username="Siparisler" class="nav-item @(IsActive("Siparis", "index") ? "active" : "")"><a asp-controller="Siparis" asp-action="index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file"></i></span><span class="pcoded-mtext">Siparişler</span></a></li>
                    <!--Raporlar End-->

                    <!--Admin start-->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Admin</label>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu @(IsActive("Firma", "index") || IsActive("Kategori", "index") || IsActive("tedarikci", "index") || IsActive("sube", "index") || IsActive("urun", "index") || IsActive("subestok", "index") || IsActive("satis", "index") || IsActive("siparis", "index") ? "pcoded-trigger" : "")">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-plus-circle"></i></span><span class="pcoded-mtext">Admin CRUD</span></a>
                        <ul class="pcoded-submenu" style="@(IsActive("Firma", "index") || IsActive("Kategori", "index") || IsActive("tedarikci", "index") || IsActive("sube", "index") || IsActive("urun", "index") || IsActive("subestok", "index") || IsActive("satis", "index") || IsActive("siparis", "index") ? "display: block;" : "")">

                            <li class="@(IsActive("Firma", "index") ? "active" : "")"><a asp-controller="Firma" asp-action="index" class="">Firma</a></li>
                            <li class="@(IsActive("Kategori", "index") ? "active" : "")"><a asp-controller="Kategori" asp-action="index" class="">Kategori</a></li>
                            <li class="@(IsActive("tedarikci", "index") ? "active" : "")"><a asp-controller="tedarikci" asp-action="index" class="">Tedarikci</a></li>
                            <li class="@(IsActive("sube", "index") ? "active" : "")"><a asp-controller="Sube" asp-action="index" class="">Sube</a></li>
                            <li class="@(IsActive("urun", "index") ? "active" : "")"><a asp-controller="Urun" asp-action="index" class="">Ürünler</a></li>
                            <li class="@(IsActive("subestok", "index") ? "active" : "")"><a asp-controller="SubeStok" asp-action="index" class="">Şube Stokları</a></li>
                            <li class="@(IsActive("satis", "index") ? "active" : "")"><a asp-controller="Satis" asp-action="index" class="">Şube Satışları</a></li>
                            <li class="@(IsActive("siparis", "index") ? "active" : "")"><a asp-controller="Siparis" asp-action="index" class="">Siparişler</a></li>

                        </ul>
                    </li>
                    <li data-username="advance components Alert gridstack lightbox modal notification pnotify rating rangeslider slider syntax highlighter Tour Tree view Nestable Toolbar" class="nav-item pcoded-hasmenu @(IsActive("satis", "detayliSatisRapor") || IsActive("SubeStok", "stokrapor") || IsActive("satis", "karrapor") || IsActive("siparis", "detaylirapor") ? "pcoded-trigger" : "")">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-gitlab"></i></span><span class="pcoded-mtext">Admin Raporlar</span></a>
                        <ul class="pcoded-submenu" style="@(IsActive("satis", "detayliSatisRapor") || IsActive("SubeStok", "stokrapor") || IsActive("satis", "karrapor") || IsActive("siparis", "detaylirapor") ? "display: block;" : "")">
                            <li class="@(IsActive("satis", "detayliSatisRapor") ? "active" : "")"><a asp-controller="satis" asp-action="detayliSatisRapor" class="">Satış Rapor</a></li>
                            <li class="@(IsActive("", "") ? "active" : "")"><a asp-controller="" asp-action="" class="">Tedarikçi Performans</a></li>
                            <li class="@(IsActive("SubeStok", "stokrapor") ? "active" : "")"><a asp-controller="SubeStok" asp-action="stokrapor" class="">Stok Rapor</a></li>
                            <li class="@(IsActive("satis", "karrapor") ? "active" : "")"><a asp-controller="Satis" asp-action="KarRapor" class="">Kâr Rapor</a></li>
                            <li class="@(IsActive("siparis", "detaylirapor") ? "active" : "")"><a asp-controller="Siparis" asp-action="DetayliRapor" class="">Sipariş Rapor</a></li>

                        </ul>
                    </li>
                    <li data-username="Siparisler" class="nav-item @(IsActive("Account", "saveuser") ? "active" : "")">
                        <a aria-current="page" asp-controller="Account" asp-action="saveuser" class="nav-link"><span class="pcoded-micon"><i class="feather icon-user-plus"></i></span><span class="pcoded-mtext">Kullaıcı Ekle</span></a>
                    </li>
                    <!--Admin end-->

                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse1" href="#!"><span></span></a>
            <a href="index.html" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Datta Able</span>
            </a>
        </div>
        <a class="mobile-menu" id="mobile-header" href="#!">
            <i class="feather icon-more-horizontal"></i>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li><a href="#!" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Dropdown</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#!">Action</a></li>
                        <li><a class="dropdown-item" href="#!">Another action</a></li>
                        <li><a class="dropdown-item" href="#!">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <div class="main-search">
                        <div class="input-group">
                            <input type="text" id="m-search" class="form-control" placeholder="Search . . .">
                            <a href="#!" class="input-group-append search-close">
                                <i class="feather icon-x input-group-text"></i>
                            </a>
                            <span class="input-group-append search-btn btn btn-primary">
                                <i class="feather icon-search input-group-text"></i>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon feather icon-bell"></i></a>
                        <div class="dropdown-menu dropdown-menu-right notification">
                            <div class="noti-head">
                                <h6 class="d-inline-block m-b-0">Notifications</h6>
                                <div class="float-right">
                                    <a href="#!" class="m-r-10">mark as read</a>
                                    <a href="#!">clear all</a>
                                </div>
                            </div>
                            <ul class="noti-body">
                                <li class="n-title">
                                    <p class="m-b-0">NEW</p>
                                </li>
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="~/assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p><strong>John Doe</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                            <p>New ticket Added</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="n-title">
                                    <p class="m-b-0">EARLIER</p>
                                </li>
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="~/assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p><strong>Joseph William</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                            <p>Prchace New Theme and make payment</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="~/assets/images/user/avatar-3.jpg" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p><strong>Sara Soudein</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                            <p>currently login</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="noti-footer">
                                <a href="#!">show all</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#!" class="displayChatbox"><i class="icon feather icon-mail"></i></a></li>
                <li>
                    <div class="dropdown drp-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon feather icon-settings"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <div class="pro-head">
                                <img src="~/assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
                                <span>John Doe</span>
                                <a href="auth-signin.html" class="dud-logout" title="Logout">
                                    <i class="feather icon-log-out"></i>
                                </a>
                            </div>
                            <ul class="pro-body">
                                <li><a href="#!" class="dropdown-item"><i class="feather icon-settings"></i> Settings</a></li>
                                <li><a href="#!" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
                                <li><a href="message.html" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>
                                <li><a href="auth-signin.html" class="dropdown-item"><i class="feather icon-lock"></i> Lock Screen</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <!-- Warning Section start -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="~/assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="~/assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="~/assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="~/assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="~/assets/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Js -->
    <script src="~/assets/js/vendor-all.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--Jquery script-->
    <script src="~/assets/plugins/jquery/js/jquery.min.js"></script>
    <!--datatables script-->
    <script src="~/assets/plugins/data-tables/js/datatables.min.js"></script>

    @* <script src="~/assets/js/pcoded.min.js"></script> *@
    <script src="~/assets/js/pcoded.js"></script>
    <!-- amchart js -->
    <script src="~/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="~/assets/plugins/amchart/js/gauge.js"></script>
    <script src="~/assets/plugins/amchart/js/serial.js"></script>
    <script src="~/assets/plugins/amchart/js/light.js"></script>
    <script src="~/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="~/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="~/assets/plugins/amchart/js/usaLow.js"></script>
    <script src="~/assets/plugins/amchart/js/radar.js"></script>
    <script src="~/assets/plugins/amchart/js/worldLow.js"></script>
    <!-- notification Js -->
    <script src="~/assets/plugins/notification/js/bootstrap-growl.min.js"></script>

    <!-- dashboard-custom js -->
    <script src="~/assets/js/pages/dashboard-custom.js"></script>
    <script>

    </script>
</body>

</html>
