@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">


    <br />

    <div class="p-3 border bg-light">
        <h2>Siparisler</h2>
        <hr />

        <div class="" style="display: flex;justify-content: flex-end;">
            <button onClick="loadSelectDatas()" class="btn btn-success" data-bs-toggle="offcanvas" data-bs-target="#Ekle" aria-controls="Ekleme"><i class="bi bi-plus"></i> Yeni Siparis</button>

        </div>
        <table id="siparislerTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Sube</th>
                    <th>Urun</th>
                    <th>Tedarikci</th>
                    <th>Adet</th>
                    <th>Toplam</th>
                    <th>Aktiflik</th>
                    <th>Tarih</th>
                    <th></th>
                </tr>
            </thead>
        </table>



    </div>
</div>

@* Ekleme start*@
<div class="offcanvas offcanvas-end" tabindex="-1" id="Ekle" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Siparis Ekle</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" id="eklemeClose"></button>
    </div>
    <div class="offcanvas-body">
        <label for="Sube">Subeler</label>
        <select class="form-select mb-3" id="subeSelect" aria-label="Sube">
            <option></option>
            <!-- Add options here -->
        </select>

        <label for="Tedarikci">Tedarikciler</label>
        <select class="form-select mb-3" id="tedarikciSelect" aria-label="Tedarikci">
            <option></option>
            <!-- Add options here -->
        </select>

        <label for="Urun">Urunler</label>
        <select class="form-select mb-3" id="urunSelect" aria-label="Urun">
            <option></option>
            <!-- Add options here -->
        </select>

        <label for="Adet">Adet</label>
        <input type="number" class="form-control mb-3" id="adet" placeholder="Adet">

        <label for="Tarih">Tarih</label>
        <input type="datetime-local" class="form-control mb-3" id="tarih" placeholder="Tarih">

        <div class="" style="display: flex;justify-content: flex-end;">
            <button class="btn btn-secondary" onClick="save()"></i>Ekle</button>

        </div>



    </div>
</div>
@* Ekleme start*@

@* Guncelleme start*@
<div class="offcanvas offcanvas-end" tabindex="-1" id="Guncelle" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Siparis Guncelle</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" id="guncelleClose"></button>
    </div>
    <div class="offcanvas-body">
        <label type="text" id="siparisId" value="" hidden></label>


        <label for="Sube">Sube</label>
        <select class="form-select mb-3" id="subeUpdateSelect" aria-label="Sube">
            <option></option>
            <!-- Add options here -->
        </select>

        <label for="Tedarikci">Tedarikci</label>
        <select class="form-select mb-3" id="tedarikciUpdateSelect" aria-label="Tedarikci">
            <option></option>
            <!-- Add options here -->
        </select>

        <label for="Urun">Urun</label>
        <select class="form-select mb-3" id="urunUpdateSelect" aria-label="Urun">
            <option></option>
            <!-- Add options here -->
        </select>

        <label for="Adet">Adet</label>
        <input type="number" class="form-control mb-3" id="adetUpdate" placeholder="Adet">

        <label for="Tarih">Tarih</label>
        <input type="datetime-local" class="form-control mb-3" id="tarihUpdate" placeholder="Tarih">

        <input class="form-check-input" type="checkbox" value="" id="aktifMi">
        <label class="form-check-label" for="aktifMi">
            Aktif Mi?
        </label>

        <div class="" style="display: flex;justify-content: flex-end;">
            <button onClick="update()" class="btn btn-warning"></i>Güncelle</button>

        </div>
    </div>
</div>
@* Guncelleme start*@



<script type="text/javascript">
    let table;
       
    function loadTable() {
        $.ajax({
            url: 'https://10.60.60.141/api/Siparis/GetAllWithDetails',
            crossDomain: true,
            headers: {
                'accept': 'text/plain',
                'Authorization': "Bearer " + "@ViewBag.JwtCookie"
            },
            
        }).done(function (response) {

            table = $('#siparislerTable').DataTable({
                "language": { "url": '//cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json' },
                "data": response.data,
                "layout": {
                    "bottomStart": {
                        buttons: [
                            {
                                extend: 'pdf',
                                text: 'Pdf',
                                exportOptions: {
                                    modifier: {
                                        page: 'current'
                                    }
                                },
                                title: 'FirmaSatışlar',
                                className: 'btn btn-success',
                            },
                            {
                                extend: 'colvis',
                                collectionLayout: 'fixed columns',
                                popoverTitle: 'Görüntülenecek sütunları işaretleyin',
                                className: 'btn btn-warning',

                            }
                        ],
                    }
                },
                "columns": [
                    { "data": 'sube.subeAdi' },
                    { "data": 'urun.urunAdi' },
                    { "data": 'tedarikci.tedarikciAdi' },
                    { "data": 'adet', className: 'text-start' },
                    { "data": 'toplam', className: 'text-start' },
                    { "data": 'isActive', className: 'text-start',
                        "render": function (data) { 
                            if (data) 
                            { 
                                return "Aktif" 
                            } else 
                            { 
                                return "Pasif"} 
                            } 
                    },
                    {
                        "data": 'tarih',
                        "render": function (data) {
                            // JavaScript Date objesine dönüştürme
                            var tarih = new Date(data);

                            // Tarih bilgilerini alıyoruz
                            var yil = tarih.getFullYear();
                            var ay = ('0' + (tarih.getMonth() + 1)).slice(-2); // Ayı 2 basamaklı olarak almak için
                            var gun = ('0' + tarih.getDate()).slice(-2); // Günü 2 basamaklı olarak almak için
                            var saat = ('0' + tarih.getHours()).slice(-2); // Saati 2 basamaklı olarak almak için
                            var dakika = ('0' + tarih.getMinutes()).slice(-2); // Dakikayı 2 basamaklı olarak almak için

                            // Yıl/ay/gün - saat formatında birleştirme
                            var formatliTarih = yil + '/' + ay + '/' + gun + ' - ' + saat + ':' + dakika;

                            //console.log(formatliTarih); // Örneğin: "2024/06/25 - 06:05:00"
                            return formatliTarih;
                        }
                    },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `
                             <div class="w-75 btn-group" role="group">
                                           <a onClick=loadForUpdate("${data}") class="btn btn-primary mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#Guncelle" aria-controls="Guncelle"></i>Edit</a>
                                   <a onClick=Delete("${data}") class="btn btn-danger mx-2"><i class="bi bi-trash"></i>Delete</a>
                             </div>`
                        },
                        "width": "20%"
                    },
                ]
            });

        });
    };
    loadTable();
    
    function Delete(id){


        Swal.fire({
            title: 'Emin Misiniz?',
            text: "Silindikten Sonra Geri Alamazsınız!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: "Geri",
            confirmButtonText: 'Evet Sil'
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: 'https://10.60.60.141/api/Siparis?id=' + id,
                    crossDomain: true,
                    method: 'delete',
                    headers: {
                        'accept': 'text/plain',
                        'Authorization': "Bearer " + "@ViewBag.JwtCookie"
                    }
                }).done(function (response) {
                    if (response != null || data != null) {

                        table.destroy();loadTable();
                        
                        
                        Swal.fire({
                            title: "Siparis Silindi",
                            icon: "success"
                        });
                    }
                    else {
                        Swal.fire({
                            title: "Siparis Silinirken Bir Sorun Oluştu",
                            icon: "error"
                        });
                    }
                });
            }
        })
       
    }
    
    function save() {
        let subeId = $("#subeSelect").val();
        let urunId = $("#urunSelect").val();
        let tedarikciId = $("#tedarikciSelect").val();
        let adet = $("#adet").val();
        let toplam = 0;
        let siparisTarih = $("#tarih").val();

        $.ajax({
            url: 'https://10.60.60.141/api/Siparis',
            crossDomain: true,
            method: 'post',
            headers: {
                'accept': 'text/plain',
                'Authorization': "Bearer " + "@ViewBag.JwtCookie"
            },
            contentType: 'application/json',
            data: JSON.stringify({
                'id': '',
                'subeId': subeId,
                'urunId': urunId,
                'tedarikciId': tedarikciId,
                'adet': adet,
                'toplam': toplam,
                'siparisTarih': siparisTarih,
                'isActive':true 
            })
        }).done(function (response) {
            if (response != null) {
                $("#eklemeClose").click()
                //Reload/redraw the table with new data
                table.destroy();loadTable();

                Swal.fire({
                    title: "Siparis Eklendi",
                    icon: "success"
                });
            } else {
                Swal.fire({
                    title: "Siparis Eklenirken Bir Sorun Oluştu",
                    icon: "error"
                });
            }
        });
    }
    
    function loadSelectDatas() {
        $.ajax({
            url: 'https://10.60.60.141/api/Filter/GetSubeTedarikciUrunAll',
            crossDomain: true,
            headers: {
                'accept': 'text/plain',
                'Authorization': "Bearer " + "@ViewBag.JwtCookie"
            }
        }).done(function (response) {

            var subeSelect = $("#subeSelect").select2({
                placeholder: "Şubeler",
                data: $.map(response.data.subeler, function (data) {
                    return {
                        id: data.id,
                        text: data.subeAdi
                    };
                }),
                width: 350,
            });
            

            var tedarikciSelect = $("#tedarikciSelect").select2({
                placeholder: "Tedarikciler",
                data: $.map(response.data.tedarikciler, function (data) {
                    return {
                        id: data.id,
                        text: data.tedarikciAdi
                    };
                }),
                width: 350,
            });

            var urunSelect = $("#urunSelect").select2({
                placeholder: "Ürünler",
                data: $.map(response.data.urunler, function (data) {
                    return {
                        id: data.id,
                        text: data.urunAdi
                    };
                }),
                width: 350,
            });

            var subeUpdateSelect = $("#subeUpdateSelect").select2({
                placeholder: "Şubeler",
                data: $.map(response.data.subeler, function (data) {
                    return {
                        id: data.id,
                        text: data.subeAdi
                    };
                }),
                width: 350,
            });

            var tedarikciUpdateSelect = $("#tedarikciUpdateSelect").select2({
                placeholder: "Tedarikciler",
                data: $.map(response.data.tedarikciler, function (data) {
                    return {
                        id: data.id,
                        text: data.tedarikciAdi
                    };
                }),
                width: 350,
            });

            var urunUpdateSelect = $("#urunUpdateSelect").select2({
                placeholder: "Ürünler",
                data: $.map(response.data.urunler, function (data) {
                    return {
                        id: data.id,
                        text: data.urunAdi
                    };
                }),
                width: 350,
            });
        });
    }
    
    function loadForUpdate(id){
        loadSelectDatas();
        $.ajax({
            url: 'https://10.60.60.141/api/Siparis/GetAllWithDetailsById',
            crossDomain: true,
            headers: {
                'accept': 'text/plain',
                'Authorization': "Bearer " + "@ViewBag.JwtCookie"
            },
            data: {
                'siparisId': id
            }
        }).done(function (response) {
            //burada guncel verileri atayacağız
            $("#subeUpdateSelect").val(response.data.sube.id).trigger('change');
            $("#tedarikciUpdateSelect").val(response.data.tedarikci.id).trigger('change');
            $("#urunUpdateSelect").val(response.data.urun.id).trigger('change');
            $("#tarihUpdate").val(new Date(response.data.tarih).toISOString().slice(0, 16));
            $("#adetUpdate").val(response.data.adet);
            $("#siparisId").val(response.data.id);
            $("#aktifMi").prop('checked', response.data.isActive);
        });
    }

    function update() {
        var subeId = $("#subeUpdateSelect").val();
        var tedarikciId = $("#tedarikciUpdateSelect").val();
        var urunId = $("#urunUpdateSelect").val();
        var tarih = $("#tarihUpdate").val();
        var adet = $("#adetUpdate").val();
        var id = $("#siparisId").val();
        var aktifMi = $('#aktifMi').prop('checked');


        $.ajax({
            url: 'https://10.60.60.141/api/Siparis?siparisId='+id, 
            crossDomain: true,
            method: 'put',
            headers: {
                'accept': 'text/plain',
                'Authorization': "Bearer " + "@ViewBag.JwtCookie"
            },
            contentType: 'application/json',
            data: JSON.stringify({
                'id': id,
                'subeId': subeId,
                'urunId': urunId,
                'tedarikciId': tedarikciId,
                'adet': adet,
                'toplam': 0,
                'siparisTarih': tarih,
                'isActive': aktifMi
            })
        }).done(function (response) {
            $("#guncelleClose").click()

            //Reload/redraw the table with new data
            table.destroy();loadTable();

            Swal.fire({
                title: "Satış Güncellendi",
                icon: "success"
            });
        });

    }
</script>