@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}

<div class="container">
    <h2>Sube Stoklar</h2>
    <hr />

    <div class="" style="display: flex;justify-content: flex-end;">
        <button onClick="loadData()" class="btn btn-success" data-bs-toggle="offcanvas" data-bs-target="#Ekleme" aria-controls="Ekleme"><i class="bi bi-plus"></i> Yeni Kullanıcı</button>

    </div>
    <br />


    <div class="p-3 border bg-light">

        <table id="kullanicilarTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Tedarikci Adi</th>
                    <th>Tedarikci Tel</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

@* Ekleme *@
<div class="offcanvas offcanvas-end" tabindex="-1" id="Ekleme" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Kullanici Ekle</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" id="eklemeClose"></button>
    </div>
    <div class="offcanvas-body">

        <div class="container">


            <br />

            <div class="input-group">
                <label for="kullaniciAdi" class="form-label" style="margin-right: 10px;">k_Adı:</label>
                <input type="text" id="kullaniciAdi" class="form-control" value="">
            </div>

            <br />

            <div class="input-group">
                <label for="sifre" class="form-label" style="margin-right: 10px;">Şifre:</label>
                <input type="text" id="sifre" class="form-control" value="">
            </div>
            <br />


            <div class="input-group">
                <label for="tedarikciSelect" class="form-label" style="margin-right: 10px;">Tedarikci: </label>
                <select id="tedarikciSelect" placeholder='select item'></select>
            </div>
            <div style="display: flex;justify-content: flex-end;">
                <button onclick=save() class="btn btn-secondary">Kaydet</button>
            </div>

        </div>




    </div>
</div>
@* Ekleme *@

<script type="text/javascript">
    let table;
    console.log("@ViewBag.JwtCookie");
    $(document).ready(function loadTable() {
        table = $('#kullanicilarTable').DataTable({
            "language": { "url": '//cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json' },
            "ajax":
            {
                'url': "https://10.60.60.141/api/Kullanici/getAllWithTedarikci",
                'type': 'GET',
                'beforeSend': function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + "@ViewBag.JwtCookie");
                }
            },
            "layout": {
                "bottomStart": {
                    buttons: [
                        {

                            extend: 'pdf',
                            text: 'Pdf',
                            exportOptions: {
                                modifier: {
                                    page: 'current'
                                }
                            },
                            title: 'Kullanıcılar',
                            className: 'btn btn-success',
                        }
                    ],
                }
            },
            "columns": [
                { "data": 'kullaniciAdi' },
                { "data": 'tedarikci.tedarikciAdi' },
                { "data": 'tedarikci.tedarikciTel', className: 'text-start' },
                {
                    "data": "id",
                    "render": function (data) {
                        return `
                                                                  <div class="w-75 btn-group" role="group">
                                                                      <a onClick=Delete("${data}") class="btn btn-danger mx-2"><i class="bi bi-trash"></i>Delete</a>
                                                                  </div>`
                    },
                    "width": "20%"
                },
            ]
        });
    });

    function loadData() {
        //tedarkci
        $.ajax({
            url: 'https://10.60.60.141/api/tedarikci/all',
            crossDomain: true,
            headers: {
                'accept': 'text/plain',
                'Authorization': "Bearer " + "@ViewBag.JwtCookie"
            }
        }).done(function (response) {
            result = $.map(response.data, function (data) {
                return {
                    id: data.id,
                    text: data.tedarikciAdi
                };
            });

            $("#tedarikciSelect").select2({
                placeholder: "Şubeler",
                data: result,
                width: 200,

            });

        });

    }

    function save() {
        let tedarikciId = $("#tedarikciSelect").val();
        let sifre = $("#sifre").val();
        let kullaniciAdi = $("#kullaniciAdi").val();
        debugger;

        $.ajax({
            url: 'https://10.60.60.141/api/Auth',
            crossDomain: true,
            method: 'post',
            headers: {
                'accept': 'text/plain',
                'Authorization': "Bearer " + "@ViewBag.JwtCookie"
            },
            contentType: 'application/json',
            // data: '{\n  "kullaniciAdi": "string",\n  "sifre": "string",\n  "tedarikciId": "string"\n}',
            data: JSON.stringify({
                'kullaniciAdi': kullaniciAdi,
                'sifre': sifre,
                'tedarikciId': tedarikciId
            })
        }).done(function (response) {
            if (response != null) {
                $("eklemeClose").click();
                //Reload/redraw the table with new data
                table.ajax.reload();

                Swal.fire({
                    title: "Kullanici Eklendi",
                    icon: "success"
                });
            } else {
                Swal.fire({
                    title: "Kullanici Eklenirken Bir Sorun Oluştu",
                    icon: "error"
                });
            }
        });
    }

    function Delete(data) {
        Swal.fire({
            title: 'Emin Misiniz?',
            text: "Silindikten Sonra Geri Alamazsınız!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: "Geri",
            confirmButtonText: 'Evet Sil'
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: 'https://10.60.60.141/api/Kullanici?id=' + data,
                    crossDomain: true,
                    method: 'delete',
                    headers: {
                        'accept': 'text/plain',
                        'Authorization': "Bearer " + "@ViewBag.JwtCookie"
                    }
                }).done(function (response) {
                    console.log(response);
                    if (response != null || data != null) {

                        table.ajax.reload();

                        Swal.fire({
                            title: "Kullanici Silindi",
                            icon: "success"
                        });
                    }
                    else {
                        Swal.fire({
                            title: "Kullanici Silinirken Bir Sorun Oluştu",
                            icon: "error"
                        });
                    }
                });
            }
        })
    }


</script>